<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/frontend/static/favicon.png" />
    <title>Tennis Master Deluxe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<script src="/frontend/static/jquery-3.6.1.js"></script>

<body style="background-color:black;">
    <img src="/frontend/static/play.gif" alt="Loading" title="Loading" />
    <h1 style="color: white">Hi</h1>
</body>

</html>
